<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
        >
          <i
            class="bi bi-trello me-2"
            style="font-size: 2rem; color: cornflowerblue"
          ></i>
          Students Information Dashboard
        </a>

        <ul
          class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
        >
          <li>
            <a href="/" class="nav-link text-white">
              <i
                class="bi bi-house-fill d-block mx-auto mb-1"
                style="font-size: 1.5rem; color: cornflowerblue"
              ></i>
              Home
            </a>
          </li>
          <li>
            <a href="/report" class="nav-link text-white">
              <i
                class="bi bi-file-earmark-arrow-down-fill d-block mx-auto mb-1"
                style="font-size: 1.5rem; color: cornflowerblue"
              ></i>
              Report
            </a>
          </li>
          <li>
            <a href="/view_data" class="nav-link text-white">
              <i
                class="bi-table d-block mx-auto mb-1"
                style="font-size: 1.5rem; color: cornflowerblue"
              ></i>
              Seat Data
            </a>
          </li>
          <li>
            <a href="/add_student" class="nav-link text-white">
              <i
                class="bi bi-window-plus d-block mx-auto mb-1"
                style="font-size: 1.5rem; color: cornflowerblue"
              ></i>
              Admission
            </a>
          </li>
          <li>
            <a href="/student_details" class="nav-link text-white">
              <i
                class="bi-grid d-block mx-auto mb-1"
                style="font-size: 1.5rem; color: cornflowerblue"
              ></i>
              Student Data
            </a>
          </li>
          <li>
            <a href="/pg_version" class="nav-link text-white">
              <i
                class="bi bi-app-indicator d-block mx-auto mb-1"
                style="font-size: 1.5rem; color: cornflowerblue"
              ></i>
              Version
            </a>
          </li>
          <li>
            <a href="/login" class="nav-link text-white">
              <i
                class="bi bi-person-circle d-block mx-auto mb-1"
                style="font-size: 1.5rem; color: cornflowerblue"
              ></i>
              Profile
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-light text-dark me-2">
          Login
        </button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </div>
  </div> -->
</header>
