<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Check PostgreSQL Version</h5>
            <p class="card-text">
              This form allows you to check the version of PostgreSQL installed
              on your system.
            </p>
            <a href="/pg_version" class="btn btn-dark">PG Version</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Show Data</h5>
            <p class="card-text">
              This form allows you to view data from the database.
            </p>
            <a href="/view_data" class="btn btn-success">View Data</a>
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
