<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <div class="centered-box">
      <form action="/accounts" method="get">
        <button type="submit">Accounts details</button>
      </form>

      <form action="/pg_version" method="get">
        <button type="submit">PG Version</button>
      </form>
    </div>
  </body>
</html>
